

.heading{
  font-size: xx-large;
  
}
.underline{
  margin-top: -55px;
}
.separotor{
  border-bottom: 0.2px solid #cfcdcd;
  width: 90%;
  align-items: flex-start;
  height: 0.5vh;
  padding-top: 85px;
}


